.one{
    display: block;
    margin-left: 10px;
}

.two{
    margin-left: 40px;
    color: rgb(255, 255, 255);
}

.three{
    display: block;
    margin-right: 10px;    
}

a:link{
    color: rgb(158, 142, 216);
}

a:visited{
    color: darkred;
}

.header{
    background-color: black;
}

.grid img{
    margin-left: 65px;
    margin-top: 15px;
}

.origami1{
    border-radius: 20px;
    background-color: rgb(96, 223, 255);
    margin-top: 150px;
    margin-left: 35px;

    width: 310px;
    font-family: fantasy;
}

.origami2{
    border-radius: 20px;
    background-color: rgb(238, 92, 92);
    margin-left: 367px;
    margin-top: -460px;

    width: 310px;
    font-family: fantasy;
}

.origami3{
    border-radius: 20px;
    background-color: rgb(213, 255, 96);
    margin-top: -463px;
    margin-left: 700px;

    width: 310px;
    font-family: fantasy;
}

.origami4{
    border-radius: 20px;
    background-color: rgb(185, 170, 250);
    margin-top: 35px;
    margin-left: 220px;

    width: 310px;
    font-family: fantasy;
}

.origami5{
    border-radius: 20px;
    background-color: rgb(247, 129, 201);
    margin-top: -465px;
    margin-left: 550px;

    width: 310px;
    font-family: fantasy;
}

.origami6{
    border-radius: 20px;
    background-color: rgb(8, 252, 191);
    margin-top: -465px;
    margin-left: 880px;

    width: 310px;
    font-family: fantasy;
}

.menu{
    display: flex;
    justify-content: space-between;
    background-color: black;
    font-size: 10px;
    font-family: sans-serif;
    font-weight: 400;
    color: white;
}

body{
    background-color: rgb(0, 0, 0);
}

.bodyimage{
    text-align: center;
    color: white;
    background-color: rgb(158, 142, 216);
}

.p1{
    text-align: center;
    color: white;
    margin-top: -270px;
    font-family: cursive;
    font-size: 35px;
    font-style: italic;
}

h3{
    font-family: 'Times New Roman', Times, serif;
}

.date{
    text-transform: uppercase;
    color: white;
    margin-top: 50px;
    margin-left: -275px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.Instructions{
    text-transform: uppercase;
    color: white;
    margin-top: -17px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.name{
    text-transform: uppercase;
    color: white;
    margin-top: -18px;
    margin-left: 270px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.para{
    text-align: justify;
    font-size: 20px;
    margin-top: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    color: black;
}

.instagram{
    margin-top: -52px;
    margin-left: 700px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: darkblue;
}

.insta{
    width: 4%;
    margin-left: 850px;
    margin-top: -1000px;
}

.origami1:hover{
    transform: scale(1.2);
}

.origami2:hover{
    transform: scale(1.2);
}

.origami3:hover{
    transform: scale(1.2);
}

.origami4:hover{
    transform: scale(1.2);
}

.origami5:hover{
    transform: scale(1.2);
}

.origami6:hover{
    transform: scale(1.2);
}